* {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%;
  font-family: 'ElektraLightPro', sans-serif; }

body {
  color: #5c7b98;
  background: #fff;
  font-size: 14px;
  margin-bottom: 240px; }

a {
  color: #00b9fe; }

.wrapper {
  position: relative;
  width: 100%; }

.container {
  position: relative;
  width: 1020px;
  margin: 0 auto;
  padding: 0 10px; }

.content {
  position: relative;
  margin-left: 260px; }

.user-content {
  margin: 0 0 20px; }

.user-content h2 {
  font-size: 25px;
  margin: 0 0 20px; }

.user-content p {
  line-height: 20px;
  margin: 0 0 20px; }

.up {
  display: none;
  position: fixed;
  bottom: 270px;
  right: 50%;
  width: 77px;
  height: 39px;
  margin-right: -600px;
  color: #fff;
  font-size: 14px;
  font-family: 'ElektraMediumPro', sans-serif;
  text-align: center;
  line-height: 44px;
  background: url("../img/up.png");
  cursor: pointer;
  outline: none; }

/* clearfix */
.cf:before, .cf:after,
.row:before, .row:after {
  content: " ";
  display: table; }

.cf:after, .row:after {
  clear: both; }

.header-main {
  min-width: 1020px;
  height: 120px;
  background: #dae4ef;
  background: linear-gradient(to right, #dae4ef, #f0f5f8, #dae4ef); }

.header-logo {
  float: left;
  display: inline-block;
  margin-top: 30px; }

.header-contacts {
  float: right;
  text-align: right;
  margin-top: 20px; }

.header-contacts__phone {
  display: inline-block;
  color: #5c7b98;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 6px;
  vertical-align: top;
  text-decoration: none; }

.header-contacts__prefix-phone {
  display: inline-block;
  color: #00b9fe;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  vertical-align: top; }

.header-contacts__emain {
  display: block; }

.header-contacts__emain-link {
  font-size: 16px;
  color: #613993; }

.footer {
  position: absolute;
  height: 240px;
  width: 100%;
  min-width: 1020px;
  padding-top: 50px;
  bottom: 0;
  background: url("../img/bg-footer.jpg"); }

.footer-logo {
  float: left;
  margin-top: 50px; }

.footer-menu-wrp {
  display: inline-block;
  margin: 0 0 0 110px; }

.footer-menu-grid {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px; }

.footer-menu-grid__title {
  color: #fff;
  font-size: 16px;
  font-weight: bold; }

.footer-menu-list {
  margin: 0;
  padding: 0; }

.footer-menu-item {
  list-style: none;
  padding: 0;
  margin: 2px 0;
  line-height: 26px; }

.footer-menu-item__link {
  color: #fff; }

.footer-right-box {
  float: right;
  width: 200px;
  padding: 20px 0 0; }

.download-app-list {
  font-size: 0;
  margin-bottom: 30px; }

.download-app-items {
  margin: 0;
  padding: 0;
  list-style: none; }

.download-app-item {
  display: inline-block;
  width: 90px;
  height: 32px;
  margin: 0 6px 0 0;
  padding: 0; }

.download-app-link {
  display: block;
  width: 90px;
  height: 32px;
  background: url("../img/app-download.png") no-repeat; }

.download-app-link_apple {
  background-position: 0 0; }

.download-app-link_droid {
  background-position: -95px 0; }

.social-list {
  font-size: 0;
  margin-bottom: 20px; }

.social-items {
  list-style: none;
  margin: 0 0 0 -3px;
  padding: 0; }

.social-item {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0 4px 0 0;
  padding: 0; }

.social-link {
  display: block;
  width: 44px;
  height: 44px;
  background: url("../img/social.png") no-repeat; }

.social-link_vk {
  background-position: 0 0; }

.social-link_fb {
  background-position: -52px 0; }

.social-link_tw {
  background-position: -102px 0; }

.menu-link {
  position: relative;
  font-size: 14px;
  color: #5c7b98;
  background-color: #f7f7f7;
  text-decoration: none;
  /*transition: all .18s linear;*/ }
  .menu-link:hover {
    background-color: #dce6f0; }
  .menu-link.menu-link_active {
    color: #fff;
    background-color: #00b9fe; }

.menu-main-wrp {
  position: relative;
  margin: -20px 0 20px; }

.menu-main {
  list-style: none;
  position: relative;
  height: 40px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  text-align: center; }

.menu-main__item {
  display: inline-block;
  height: 40px; }

.menu-main__link {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 16px 0 0;
  padding: 0 10px; }
  .menu-main__link:before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    width: 16px;
    height: 40px;
    background: url("../img/menu-item-before.png") top center no-repeat; }
  .menu-main__link:after {
    content: '';
    position: absolute;
    top: 0;
    right: -16px;
    width: 16px;
    height: 40px;
    background: url("../img/menu-item-after.png") top center no-repeat; }
  .menu-main__link:hover:before, .menu-main__link:hover:after {
    background-position: 0 -40px; }
  .menu-main__link.menu-link_active:before, .menu-main__link.menu-link_active:after {
    background-position: 0 -80px; }

.menu-side, .menu-side__submenu {
  margin: 0;
  padding: 0; }

.menu-side__item {
  list-style: none; }
  .menu-side__item:last-child .menu-side__link {
    border-bottom: none; }

.menu-side__link {
  position: relative;
  display: block;
  line-height: 16px;
  padding: 6px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dae1eb;
  transition: all 0.3s linear; }

.menu-side__submenu {
  display: none; }

.menu-side__submenu-item {
  list-style: none; }

.menu-side__link_sub {
  padding-left: 34px; }

.menu-side__link_sub:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 9px;
  left: 20px;
  top: 9px;
  background: url("../img/icons.png") 0 0 no-repeat; }

.sidebar-left {
  float: left;
  width: 230px;
  margin-bottom: 10px; }

.breadclumbs {
  position: relative;
  margin-bottom: 10px; }

.breadclumbs__link, .breadclumbs__self {
  display: inline-block;
  margin: 0 4px; }

.catalog-box {
  position: relative;
  margin: 0 0 60px; }

.catalog-service-box {
  position: absolute;
  top: -34px;
  right: 0;
  white-space: nowrap; }

.catalog-select-wrp {
  position: relative;
  display: inline-block;
  margin-right: 20px; }

.catalog-select-view {
  position: relative;
  border: 1px solid #dae1eb;
  width: 132px;
  height: 26px;
  -webkit-appearance: none;
  line-height: 26px;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
  outline: none;
  cursor: pointer;
  background-image: url("../img/select-after.png");
  background-position: right center;
  background-repeat: no-repeat; }

select::-ms-expand {
  display: none; }

.catalog-select-view__item {
  color: #5c7b98;
  height: 24px;
  line-height: 24px;
  background-color: transparent;
  cursor: pointer; }
  .catalog-select-view__item:hover {
    color: #bed1e3;
    background-color: transparent; }

.paginator {
  display: inline-block; }

.paginator__item {
  display: inline-block;
  margin: 0 4px; }

.paginator__active {
  color: #5c7b98;
  text-decoration: none;
  cursor: default; }

.paginator_right {
  float: right; }

.catalog-service-box_bottom {
  top: auto;
  left: 0;
  bottom: -30px; }

.catalog-list {
  margin: 0 0 10px;
  padding: 0;
  list-style: none; }

.catalog-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #dae1eb;
  overflow: hidden;
  vertical-align: top;
  transition: all 0.14s linear; }
  .catalog-item:hover {
    box-shadow: 0 0 8px rgba(219, 225, 235, 0.6); }

.catalog-item__image-box {
  position: relative;
  display: inline-block;
  float: left;
  width: 160px;
  height: 134px; }

.catalog-item__image {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%; }

.catalog-item__info-box {
  margin-left: 180px; }

.catalog-list_view-line .catalog-item__defines .catalog-item_define-key {
  display: inline-block;
  margin: 0 0px 0 0; }

.catalog-list_view-line .catalog-item__defines .catalog-item_define-value {
  display: inline-block;
  margin: 0 6px 0 0; }

.catalog-list_view-grid {
  margin-right: -20px; }
  .catalog-list_view-grid .catalog-item {
    width: 230px;
    margin-right: 20px; }
  .catalog-list_view-grid .catalog-item__image-box {
    float: none;
    width: 100%; }
  .catalog-list_view-grid .catalog-item__info-box {
    margin-left: 0; }
  .catalog-list_view-grid .catalog-item_define-key, .catalog-list_view-grid .catalog-item_define-value {
    display: inline-block;
    width: 48%;
    margin: 0 0 4px; }
