extends ../layouts/main-layout.jade

block title
	title Главная страница

block content
	div.catalog-box

		div.catalog-service-box.catalog-service-box_top
			div.catalog-select-wrp
				select.catalog-select-view
					option.catalog-select-view__item(data-view="line", value="1") Линиями
					option.catalog-select-view__item(data-view="grid", value="2") Сеткой
			.paginator
				a.paginator__item.paginator__active(href="#") 1
				a.paginator__item(href="#") 2
				a.paginator__item(href="#") 3
				a.paginator__item(href="#") 4
				a.paginator__item(href="#") 5
				a.paginator__item(href="#") Все

		ul.catalog-list.catalog-list_view-line
			li.catalog-item
				div.catalog-item__image-box
					a.catalog-item__link-img(href="")
						img.catalog-item__image(src="img/catalog/item-1.jpg", alt="")
				div.catalog-item__info-box
					p.catalog-item__title
						a.catalog-item__link-title(href="") Apple Thunderbolt Display 27"
					div.catalog-item__description
						dl.catalog-item__defines
							dt.catalog-item_define-key Артикул:
							dd.catalog-item_define-value 2432453
							dt.catalog-item_define-key Опция:
							dd.catalog-item_define-value включена
							dt.catalog-item_define-key Цвет:
							dd.catalog-item_define-value серебристый
							dt.catalog-item_define-key Размер:
							dd.catalog-item_define-value 1280*1245*90
							dt.catalog-item_define-key Вес:
							dd.catalog-item_define-value 9 кг
			li.catalog-item
				div.catalog-item__image-box
					a.catalog-item__link-img(href="")
						img.catalog-item__image(src="img/catalog/item-1.jpg", alt="")
				div.catalog-item__info-box
					p.catalog-item__title
						a.catalog-item__link-title(href="") Apple Thunderbolt Display 27"
					div.catalog-item__description
						dl.catalog-item__defines
							dt.catalog-item_define-key Артикул
							dd.catalog-item_define-value 2432453
							dt.catalog-item_define-key Опция
							dd.catalog-item_define-value включена
							dt.catalog-item_define-key Цвет
							dd.catalog-item_define-value серебристый
							dt.catalog-item_define-key Размер
							dd.catalog-item_define-value 1280*1245*90
			li.catalog-item
				div.catalog-item__image-box
					a.catalog-item__link-img(href="")
						img.catalog-item__image(src="img/catalog/item-1.jpg", alt="")
				div.catalog-item__info-box
					p.catalog-item__title
						a.catalog-item__link-title(href="") Apple Thunderbolt Display 27"
					div.catalog-item__description
						dl.catalog-item__defines
							dt.catalog-item_define-key Артикул
							dd.catalog-item_define-value 2432453
							dt.catalog-item_define-key Опция
							dd.catalog-item_define-value включена
							dt.catalog-item_define-key Цвет
							dd.catalog-item_define-value серебристый
							dt.catalog-item_define-key Размер
							dd.catalog-item_define-value 1280*1245*90
							dt.catalog-item_define-key Вес
							dd.catalog-item_define-value 9 кг
			li.catalog-item
				div.catalog-item__image-box
					a.catalog-item__link-img(href="")
						img.catalog-item__image(src="img/catalog/item-1.jpg", alt="")
				div.catalog-item__info-box
					p.catalog-item__title
						a.catalog-item__link-title(href="") Apple Thunderbolt Display 27"
					div.catalog-item__description
						dl.catalog-item__defines
							dt.catalog-item_define-key Артикул
							dd.catalog-item_define-value 2432453
							dt.catalog-item_define-key Опция
							dd.catalog-item_define-value включена
							dt.catalog-item_define-key Цвет
							dd.catalog-item_define-value серебристый
							dt.catalog-item_define-key Размер
							dd.catalog-item_define-value 1280*1245*90
							dt.catalog-item_define-key Вес
							dd.catalog-item_define-value 9 кг
			li.catalog-item
				div.catalog-item__image-box
					a.catalog-item__link-img(href="")
						img.catalog-item__image(src="img/catalog/item-1.jpg", alt="")
				div.catalog-item__info-box
					p.catalog-item__title
						a.catalog-item__link-title(href="") Apple Thunderbolt Display 27"
					div.catalog-item__description
						dl.catalog-item__defines
							dt.catalog-item_define-key Артикул
							dd.catalog-item_define-value 2432453
							dt.catalog-item_define-key Опция
							dd.catalog-item_define-value включена
							dt.catalog-item_define-key Цвет
							dd.catalog-item_define-value серебристый
							dt.catalog-item_define-key Размер
							dd.catalog-item_define-value 1280*1245*90
							dt.catalog-item_define-key Вес
							dd.catalog-item_define-value 9 кг
			li.catalog-item
				div.catalog-item__image-box
					a.catalog-item__link-img(href="")
						img.catalog-item__image(src="img/catalog/item-1.jpg", alt="")
				div.catalog-item__info-box
					p.catalog-item__title
						a.catalog-item__link-title(href="") Apple Thunderbolt Display 27"
					div.catalog-item__description
						dl.catalog-item__defines
							dt.catalog-item_define-key Артикул
							dd.catalog-item_define-value 2432453
							dt.catalog-item_define-key Опция
							dd.catalog-item_define-value включена
							dt.catalog-item_define-key Цвет
							dd.catalog-item_define-value серебристый
							dt.catalog-item_define-key Размер
							dd.catalog-item_define-value 1280*1245*90
							dt.catalog-item_define-key Вес
							dd.catalog-item_define-value 9 кг

		div.catalog-service-box.catalog-service-box_bottom
			div.catalog-select-wrp
				select.catalog-select-view
					option.catalog-select-view__item Сеткой
					option.catalog-select-view__item Линиями
			.paginator
				a.paginator__item.paginator__active(href="#") 1
				a.paginator__item(href="#") 2
				a.paginator__item(href="#") 3
				a.paginator__item(href="#") 4
				a.paginator__item(href="#") 5
				a.paginator__item(href="#") Все

	div.about-shop-description
		h2.about-shop-title Пара слов о магазине
		p.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
		p.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.


