aside.sidebar-left
	nav.menu
		ul.menu-side
			li.menu-side__item.menu-side__item_subcat
				a.menu-side__link.menu-link.menu-link_active(href="#") iPhone
				ul.menu-side__submenu
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 4s
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5s
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5s с эксклюзивным дизайном
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 6
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 6 plus
			li.menu-side__item.menu-side__item_subcat
				a.menu-side__link.menu-link(href="#") iPad
				ul.menu-side__submenu
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 4s
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5s
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5s с эксклюзивным дизайном
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 6
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 6 plus
			li.menu-side__item.menu-side__item_subcat
				a.menu-side__link.menu-link(href="#") iMac
				ul.menu-side__submenu
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 4s
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5s
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 5s с эксклюзивным дизайном
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 6
					li.menu-side__submenu-item
						a.menu-side__link.menu-side__link_sub.menu-link(href="#") iPhone 6 plus
			li.menu-side__item
				a.menu-side__link.menu-link(href="#") Macbook
			li.menu-side__item
				a.menu-side__link.menu-link(href="#") iPod
			li.menu-side__item
				a.menu-side__link.menu-link(href="#") Другое