footer.footer
	.container
		.footer-logo
			img.footer-logo__img(src="img/logo-footer.png")
		div.footer-menu-wrp
			div.footer-menu-grid
				span.footer-menu-grid__title О магазине
				ul.footer-menu-list
					li.footer-menu-item
						a.footer-menu-item__link(href="#") О нас
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Наши цены
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Наши скидки
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Акции
			div.footer-menu-grid
				span.footer-menu-grid__title Каталог
				ul.footer-menu-list
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Смартфоны
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Планшеты
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Компьютеры
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Аксессуары
			div.footer-menu-grid
				span.footer-menu-grid__title Контакты
				ul.footer-menu-list
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Телефоны
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Адреса
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Карта проезда
					li.footer-menu-item
						a.footer-menu-item__link(href="#") Обратная связь
		div.footer-right-box
			div.download-app-list
				ul.download-app-items
					li.download-app-item
						a.download-app-link.download-app-link_apple(href="#") Доступно в App Store
					li.download-app-item
						a.download-app-link.download-app-link_droid(href="#") Доступно в Google Play
			div.social-list
				ul.social-items
					li.social-item
						a.social-link.social-link_vk(href="#") Vkontakte
					li.social-item
						a.social-link.social-link_fb(href="#") Facebook
					li.social-item
						a.social-link.social-link_tw(href="#") Twitter

.up Наверх

// build:js js/vendor.min.js 
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery.placeholder/jquery.placeholder.js')
script(src='/bower/simple-select/jquery.simpleselect.js')
// endbower 
// endbuild 

// build:js js/main.min.js 
script(src="js/app.js")
script(src="js/main.js")
// endbuild 