footer.footer
	.container

<!-- build:js js/vendor.min.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery.placeholder/jquery.placeholder.js')
// endbower
<!-- endbuild -->

<!-- build:js js/main.min.js -->
script(src="js/app.js")
script(src="js/main.js")
<!-- endbuild -->