header.header-main
	.container
		.header-logo
			img(src='img/logo.png', alt='Apple-shop logo')
		.header-contacts
			a.header-contacts__phone(href="tel:+7 (921) 322 12 32")
				span.header-contacts__prefix-phone +7 (921)
				|  322 12 32
			span.header-contacts__emain
				a.header-contacts__emain-link(href="mailto:manager@company.com") manager@company.com