head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="description", content="Apple-shop")
	meta(name="author", content="Webdesc")

	block title
		title Apple-shop

	link(rel="icon", type="image/x-icon", href="favicon.ico")

	// build:css css/vendor.min.css 
	// bower:css 
	link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
	// endbower 
	// endbuild 

	// build:css fonts/fonts.min.css 
	link(rel="stylesheet", href="fonts/fonts.css")
	// endbuild 

	// build:css css/main.min.css 
	link(rel="stylesheet", href="css/main.css")
	// endbuild 

	script(src="bower/modernizer/modernizr.js")