nav.menu-main-wrp
	.container
		ul.menu-main
			li.menu-main__item
				a.menu-main__link.menu-link(href="#") Мобильные телефоны
			li.menu-main__item
				a.menu-main__link.menu-link.menu-link_active(href="#") Планшеты
			li.menu-main__item
				a.menu-main__link.menu-link(href="#") Mp3 плееры
			li.menu-main__item
				a.menu-main__link.menu-link(href="#") Персональные компьютеры
			li.menu-main__item
				a.menu-main__link.menu-link(href="#") Ноутбуки
			li.menu-main__item
				a.menu-main__link.menu-link(href="#") Apple TV
			li.menu-main__item
				a.menu-main__link.menu-link(href="#") Аксессуары