.catalog-box {
	position: relative;
	margin: 0 0 60px;
}
.catalog-service-box {
	position: absolute;
	top: -34px; right: 0;
	white-space: nowrap;
}
.catalog-select-wrp {
	position: relative;
	display: inline-block;
	margin-right: 20px;
}
.paginator {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 8px;
}
.paginator__item {
	display: inline-block;
	margin: 0 4px;
}
.paginator__active {
	color: #5c7b98;
	text-decoration: none;
	cursor: default;
}
.paginator_right {
	float: right;
}
.catalog-service-box_bottom {
	top: auto; left: 0; bottom: -30px;
}

.catalog-list {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
}
.catalog-item {
	display: inline-block;
	width: 100%;
	margin: 0 0 20px;
	padding: 10px;
	border: 1px solid #dae1eb;
	overflow: hidden;
	vertical-align: top;
	transition: all .14s linear;
	&:hover {
		box-shadow: 0 0 8px rgba(219, 225, 235, .6);
	}
}
.catalog-item__image-box {
	position: relative;
	display: inline-block;
	float: left;
	width: 160px;
	height: 134px;
}
.catalog-item__image {
	display: inline-block;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
.catalog-item__info-box {
	margin-left: 180px;
}

/* линиями */
.catalog-list_view-line {
	.catalog-item__defines {
		.catalog-item_define-key {
			display: inline-block;
			margin: 0 0px 0 0;
		}
		.catalog-item_define-value {
			display: inline-block;
			margin: 0 6px 0 0;
		}
	}
}

/* сеткой */
.catalog-list_view-grid {
	margin-right: -20px;
	.catalog-item {
		width: 230px;
		margin-right: 20px;
	}
	.catalog-item__image-box {
		float: none;
		width: 100%;
	}
	.catalog-item__info-box {
		margin-left: 0;
	}
	.catalog-item_define-key, .catalog-item_define-value {
		display: inline-block;
		width: 48%;
		margin: 0 0 4px;
	}
}